<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="NMagnify.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
  <userSettings>
        <NMagnify.Properties.Settings>
              <setting name="LastActiveProfile" serializeAs="String">
                    <value>00000000-0000-0000-0000-000000000000</value>
              </setting>
              <setting name="Shell_Left" serializeAs="String">
                    <value>0</value>
              </setting>
              <setting name="Shell_Top" serializeAs="String">
                    <value>0</value>
              </setting>
        </NMagnify.Properties.Settings>
    </userSettings>
</configuration>
